#main{
    -fx-background-image: url("../assets/StartScreen.png");
    -fx-background-size: stretch;
    -fx-pref-width: 1366;
    -fx-pref-height: 768;
}

#newGame{
    -fx-background-image: url("../assets/StartScreen.png");
    -fx-background-size: stretch;
    -fx-pref-width: 1366;
    -fx-pref-height: 768;
}


#gameWindow {
    -fx-background-image: url("../assets/background2.png");
    -fx-border-color: black;
    -fx-border-width: 5;
}
